<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markly.mapper.SysUserMapper">


    <select id="getName" resultType="java.lang.String">
        select username from sys_user where user_id = #{0};
    </select>

    <insert id="getName" useGeneratedKeys="true" keyProperty="id" keyColumn="c_id" >

    </insert>

</mapper>
